/* * is the wide card in css;
*/
*, *:before, *:after {
	box-size: border-box;
}

.grid {
	width: 100%;
}

.top-portion{
	width: 100%;
	float: left;
	background-color: #fff200;
}

/* [class*="-col"] matches all the classes with name containing "col"
*/
.grid, .row, [class*="-col"]{
	margin: 0;
	padding: 0;
}
/* notice :after from css3*/
.grid:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	margin-bottom: 1em;
}	
/* no need to have margin-bottom for the last row */

.row:last-child {
	margin-bottom: 0;
}

[class*="-col"]{
	float:left;
	margin-left: 1.5%;
}

[class*="-col"]:last-child{
	margin-left: 0;
}

/* width = (100% - 11* 1.5%)/12 */
.one-col {
	width: 6.958%;
}

.two-col {
	width: 15.41%;
}

.three-col {
	width: 23.87%;
}

.four-col {
	width: 32.33%;
}

.five-col {
	width: 40.79%;
}

.six-col {
	width: 49.25%;
}

.seven-col {
	width: 57.70%;
}

.eight-col {
	width: 66.16%;
}

.nine-col {
	width: 74.62%;
}

.ten-col {
	width: 83.08%;
}

.eleven-col {
	width: 91.54%;
}

.twelve-col {
	width: 100%;
}

.grid {
	background-color: #999;
}

.row {
	background-color: #BBB;
}

[class*="-col"]{
	background-color: #EEE;
}

.one-col {
	background-color: none;
}

/*6.958% + 1.5% =8.458% */
.one-offset {
	margin-left: 8.458%;
}

.two-offset {
	margin-left: 16.91%;
}

.three-offset {
	margin-left: 25.37%;
}

.four-offset {
	margin-left: 33.83%;
}

.five-offset {
	margin-left: 42.29%;
}

.six-offset {
	margin-left: 50.79%;
}

.seven-offset {
	margin-left: 59.20%;
}

.eight-offset {
	margin-left: 67.66%;
}

.nine-offset {
	margin-left: 76.12%;
}

.ten-offset {
	margin-left: 84.58%;
}

.eleven-offset {
	margin-left: 91.54%;
}

a {
	text-decoration: none;
}

.top_portion a {
	margin-left: 5px;
}
 

.three-col p a:link {
	color: #fff200;
}

/* * is the wide card in css;
*/
*, *:before, *:after {
	box-size: border-box;
}

.grid {
	width: 100%;
}

.top-portion{
	width: 100%;
	float: left;
	background-color: #fff200;
}

/* [class*="-col"] matches all the classes with name containing "col"
*/
.grid, .row, [class*="-col"]{
	margin: 0;
	padding: 0;
}
/* notice :after from css3*/
.grid:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	margin-bottom: 1em;
}
/* no need to have margin-bottom for the last row */

.row:last-child {
	margin-bottom: 0;
}

[class*="-col"]{
	float:left;
	margin-left: 1.5%;
}

[class*="-col"]:last-child{
	margin-left: 0;
}

/* width = (100% - 11* 1.5%)/12 */
.one-col {
	width: 6.958%;
}

.two-col {
	width: 15.41%;
}

.three-col {
	width: 23.87%;
}

.four-col {
	width: 32.33%;
}

.five-col {
	width: 40.79%;
}

.six-col {
	width: 49.25%;
}

.seven-col {
	width: 57.70%;
}

.eight-col {
	width: 66.16%;
}

.nine-col {
	width: 74.62%;
}

.ten-col {
	width: 83.08%;
}

.eleven-col {
	width: 91.54%;
}

.twelve-col {
	width: 100%;
}

.grid {
	background-color: #999;
}

.row {
	background-color: #BBB;
}

[class*="-col"]{
	background-color: #EEE;
}
/*6.958% + 1.5% =8.458% */
.one-offset {
	margin-left: 8.458%;
}

.two-offset {
	margin-left: 16.91%;
}

.three-offset {
	margin-left: 25.37%;
}

.four-offset {
	margin-left: 33.83%;
}

.five-offset {
	margin-left: 42.29%;
}

.six-offset {
	margin-left: 50.79%;
}

.seven-offset {
	margin-left: 59.20%;
}

.eight-offset {
	margin-left: 67.66%;
}

.nine-offset {
	margin-left: 76.12%;
}

.ten-offset {
	margin-left: 84.58%;
}

.eleven-offset {
	margin-left: 91.54%;
}

a {
	text-decoration: none;
}

.three-col p a:link {
	color: #fff200;
}

.top_portion {
	background-color: #fff200;
}

.top_portion>a {
	margin-left: 16px;
	font-size: 30px;
	color: #fff;
}

.top_portion ul {
	float: right;
    margin-right: 16px;
}    

.top_portion ul li {
	display:inline-block;
	margin: 2px;
 	font-size: 10px;
 	vertical-align: text-top;
}

.one-col p {
	visibility: hidden;
}

.smalltext {
	font-size: 12px;
	margin: 0;
}

.info-page {
	height: 50px;
	width: 100%;
	background-color: #fff200;
	text-align: center;
	font-size: 24px;
}

#go-back, #go-back-one {
	float: left;
	
	line-height: 50px;
	vertical-align: middle;
	
}
#go-forward, #go-forward-one {
	float: right;
	
	line-height: 50px;
	vertical-align: middle;
}

.row {
	margin-top: 10%;
}

.one-col {
	background-color: transparent;
}

.embedcontent {
	float: right;
	font-size: 12px;
}

.embedcontent i{
	margin-right: 5px;
}

.three-col {
	background-color: rgba(0,0,0,0.5);
}

.topcontent {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
    cursor: pointer;;
}

.middlecontent {
	background-color: #222;
	text-align: center;
	clear: both;
	margin-bottom: 0;
	padding-bottom: 0;
}

.endcontent {
	background-color: #b1b3b1;
	margin-top : 0;
	padding-top: 0;
	overflow: scroll;
	max-height: 240px;
	max-width: 100%;
}

.endcontent ol li {
	margin-top: 6%;
	margin-bottom: 6%;
}

.seven-col p {
	font-size: 20px;
}

.three-col {
	margin-left: 20px;
	padding-left: 0;
	position: fixed;
}

.seven-col p, .seven-col h3 {
	width: 56%;
	margin-left: auto;
	margin-right: auto;
}

.row{
	margin-top: 0;
}

[class*="-col"]{
	margin-top: 5%;
}

.row .seven-col {
	position: relative;
	margin-left: 25.37%;
	margin-top: 4%;
}

.row {
	background-image: url("https://cdn2.vox-cdn.com/thumbor/8q4smUH9izoXSzlzuu-Pf1wqYn4=/282x0:3717x2290/420x280/filters:saturation(0.2):colorize(35,40,50,79A8B2):blur(0,0.5)/cdn0.vox-cdn.com/uploads/chorus_image/image/31099897/mars.0.jpg");
}

h3 i {
	margin-left: 5px;
	margin-right: 5px;
}

.goback {
	height: 50px;
	float: left;
	font-size: 16px;
	margin-left: 2%;
}

.goforward {
	height: 50px;
	float: right;
	font-size: 16px;
	margin-right: 2%;
}

.gobackword, .goforward {
	line-height: 50px;
	
}

@media all and (max-width:768 px){
	[class*="-col"]{
		width: 100%;
		margin-bottom: 1em;
	}
	.three-col {
		display: none;
	}
	.row:last-child > [class*="-col"]:last-child {
		margin-bottom: 0;
	}

	[class*="-offset"] {
		margin-left: 0;
	}

	.row {
		margin: 0;
	}
}

.grid {
	max-width: 960 px;
}